mixin sBuy(data)
	// start sBuy
	+b.SECTION.sBuy.section#sBuy&attributes(attributes)
		+e.container.container
			+e.bg--1.d-none.d-lg-block
				img(loading="lazy" src="img/svg/sBuy-1.svg" alt="")
			+e.bg--2.d-none.d-lg-block
				img(loading="lazy" src="img/svg/sBuy-2.svg" alt="")
			+b.section-title
				h2 Купить оборудование для майнинга криптовалюты
			+e.row.row
				.col-lg-6
					p Относительно недавно по времени, пользователи интернета могли осуществлять добычу криптовалюты на обычных персональных компьютерах. Этот вид заработка понравился большому числу людей и совсем скоро, появилось большое число майнеров. С течением времени, для добычи криптовалюты требовали более мощные компьютеры, потому как сложность добычи в заметной степени возросла. Теперь требуется купить оборудование для майнинга криптовалют, которое сможет эффективно работать и приносить владельцу необходимую прибыль.
				.col-lg-6
					p Для добычи уже проверенных временем монет, курс которых не рухнет до нуля в один момент, сейчас эффективно использовать АСИКи. Это оборудование, способное выдавать большую мощность хэширования данных, потребляя при этом сравнительно небольшой объем электроэнергии, что делает его самым энергоэффективным для майнинга крипто токенов. В нашем интернет магазине вы можете купить все оборудование и комплектующие, требующиеся для майнинга криптовалюты.
	// end sBuy