.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	//opacity: 0.7;
} 

body,
html {

	font-size: var(--fontSizeBase);
	// @include font-size(1rem);
	// overflow-x: hidden;
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&.fixed,
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 320px; 
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: $body-color;
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	padding-bottom: var(--sTPB);

	& > *:last-child{
		margin-bottom: 0;
	}
}



.mono {
	font-family: $font-family-monospace;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2; 
	cursor: pointer; 
	&.l {
		left: 0; 
		svg {
			@include transform(rotateY(180deg));
		}
	} 
	&.r {
		right: 0; 
	} 
	svg {
		width: 17px;
		height: auto;
	}
}


.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		opacity: 0;
		@include mt;
		&.active {
			display: block;
			opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img{
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }



.custom-scroll {
	&::-webkit-scrollbar-thumb {
		opacity: 1;
		display: block
	}

	&::-webkit-scrollbar-track {
		border: none;
		background-color: transparent;
		border-color: transparent;
		-webkit-box-shadow: none;
	}

	&::-webkit-scrollbar {
		border-radius: 100px;
		width: 11px;
		height: 2px;
		background-color: $body-bg;
		border-color: $body-bg;
		opacity: 0;
		-webkit-box-shadow: none;
	}

	/* Add a thumb */
	&::-webkit-scrollbar-thumb {
		background: $green2;
		border-radius: 100px;
	}

	&::-webkit-scrollbar-button {
		display: none
	}
}


::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}

//
.btn-gradient{
	@extend .btn;
	@extend .btn-primary;
	border-radius: 4px;

	background: linear-gradient(90.12deg, #56BC53 0%, #268568 100%), #298526;
	&:hover{
		background: linear-gradient(264.5deg, #56BC53 -5.15%, #268568 102.75%), #298526;
	}

	color: $white!important;
	&:hover{
		color: $white!important;
	}
}

//
.form-select{
	cursor: pointer;
}
//
.underlined-link{
	font-family: $mono;
	font-size: 12px;
	line-height: (16/12);
	text-decoration-line: underline;
	&:hover{
		text-decoration: none;
	}
	color: #56BC53;
}
//
.btn-green-sm{
	@extend .btn;
	@extend .btn-primary;

	background: $green!important;
	&:hover{
		background: $green2!important;
	}

	font-weight: bold;
	font-size: rem(12);
	line-height: (14/12);
	text-transform: uppercase;
	color: $white!important;

	padding: rem(8) rem(14);
}

.row{
	& > *{
		&:nth-child(6n + 1){
			--bp-bg-img: url(../img/svg/backplate-1.svg);
		}
		&:nth-child(6n + 2){
			--bp-bg-img: url(../img/svg/backplate-2.svg);
		}
		&:nth-child(6n + 3){
			--bp-bg-img: url(../img/svg/backplate-3.svg);
		}
		&:nth-child(6n + 4){
			--bp-bg-img: url(../img/svg/backplate-4.svg);
		}
		&:nth-child(6n + 5){
			--bp-bg-img: url(../img/svg/backplate-5.svg);
		}
		&:nth-child(6n + 6){
			--bp-bg-img: url(../img/svg/backplate-6.svg);
		}
	}
}
//
.main-wrapper {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-width: 0;
	min-height: 100vh;
}
//
.breadcrumb{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	margin: 0;
	padding: 0;

	li{
		&:last-child{
			a:after{
				content: none;
			}
		}

		&.active{
			a{
				color: $body-color;
			}
		}
	}
	a{
		text-decoration: none;
		font-family: $mono;
		font-size: rem(12);
		line-height: (16/12);

		color: $gray-570;
		&:after{
			content: '/';
			display: inline-block;
			margin: 0 rem(8);
		}
	}
}
.bc-cont{
	padding: rem(13) 0;
}

//
.green-num{
	font-family: $mono2;
	background: $green5;
	color: $green4;

	border-radius: rem(12);
	font-weight: 600;
	font-size: rem(12);
	line-height: (18/12);
	padding: 0 rem(8);
}
//checkbox
.custom-input.form-check{
	cursor: pointer;
}
.custom-input__text.form-check-label{
	font-family: $mono;
	font-size: rem(14);
	line-height: (19/14);
	color: $gray-980;
}
.form-check-input:checked[type=checkbox]{

	background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.56006 5.85009L4.62006 8.91009L12.4401 1.09009' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-size: 12px;
}
//catalog-page
.bc-moved{
	.bc-cont .container{
		@include media-breakpoint-up(xxl){
			padding-left: 44px;
			padding-right: 44px;
		}
	}
}
//
.pagination{
	&__row{
		@include roww(20px);
		@include media-breakpoint-up(xl){
			@include roww(30px);
		}
	}
	&__btn-col{
		min-width: rem(44px);
		@media (min-width: 360px) and (max-width: 576px) {
			min-width: rem(50px);
		}
		@include media-breakpoint-up(sm){
			min-width: rem(56px);
		}
		@include media-breakpoint-up(md){
			min-width: rem(130);
		}
		@include media-breakpoint-up(xl){
			min-width: rem(170);
		}
		@include media-breakpoint-up(xxl){
			min-width: rem(196);
		}
	}
	&__btn{
		@extend .btn-deep-green;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		.icon{
			font-size: 12px;
		}

		width: rem(24px);
		height: rem(24px);
		@media (min-width: 360px) and (max-width: 576px) {
			width: rem(30px);
			height: rem(30px);
		}
		@include media-breakpoint-up(sm){
			width: rem(36px);
			height: rem(36px);
		}
		padding: 0;
		@include media-breakpoint-up(md){
			min-width: rem(110);
			padding: rem(6) rem(10);
			font-size: rem(14);
		}
		@include media-breakpoint-up(xl){
			min-width: rem(140);
			padding: rem(23) rem(16);
			font-size: rem(15);
		}

		border-radius: 4px;
		font-weight: bold;
		line-height: (24/15);
	}
	&__list-col{
		ul{
			padding: 0;
			margin: 0;
			list-style: none;

			display: flex;
			align-items: center;
			justify-content: center;

			li{
				margin-right: rem(5);
				@media (min-width: 360px) and (max-width: 576px) {
					margin-right: rem(6.5);
				}
				@include media-breakpoint-up(sm){
					margin-right: rem(8);
				}
				@include media-breakpoint-up(xl){
					margin-right: rem(16);
				}
				&:last-child{
					margin-right: 0;
				}
			}
			.page-numbers{
				@include mt();
				text-decoration: none;

				width: rem(24px);
				height: rem(24px);
				@media (min-width: 360px) and (max-width: 576px) {
					width: rem(30px);
					height: rem(30px);
				}
				@include media-breakpoint-up(sm){
					font-size: rem(16px);
					width: rem(36px);
					height: rem(36px);
				}
				@include media-breakpoint-up(xl){
					width: rem(48);
					height: rem(48);
				}
				border-radius: rem(4);

				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;

				font-family: $mono;
				letter-spacing: 0.01em;

				background: $white;
				color: $gray-750;
				&:hover{
					background: $green3;
					color: $gray-900;
				}

				&.current{
					background: $green5!important;
					&:hover{
						background: $green5!important;
					}
					color: $green4;
					font-weight: bold;
				}

				&--dots{
					pointer-events: none;
					background-color: transparent;
					font-weight: bold;
					font-size: rem(16);
					line-height: (24/16);
					letter-spacing: 0.01em;
					color: $gray-750;
				}
			}
		}
	}
	&__{}
}
//
.btn-deep-green{
	@extend .btn;
	@extend .btn-primary;

	color: $white!important;
	background: $green4!important;
	&:hover{
		color: $white!important;
		background: lighten($green4, 5)!important;
	}
}