// start .sBuyWith
.sBuyWith {
	--sPT: #{rem(16)};
	--sPB: #{rem(32)};
	--sTPB: #{rem(32)};
	.section-title{
		h2{
			font-weight: 500;
			font-size: rem(32);
			line-height: (37/32);
		}
	}
	&__{}
	&__{}
	&__{}
} // end.sBuyWith