// start .sCatalog
.sCatalog {
	--sPT: #{rem(7)};
	--sPB: #{rem(25)};
	--sTPB: #{rem(0)};

	&__container{
		@include media-breakpoint-up(xxl){
			padding-left: 44px;
		}
	}
	&__top-row{
		padding-bottom: rem(51);
	}

	.section-title{
		h1{
			letter-spacing: -0.5px;
		}
	}
	&__t-sub-row{
		@include roww(16px);
		@include media-breakpoint-up(lg){
			@include roww(24px);
		}

		@include media-breakpoint-up(xxl){
			margin-right: 8px;
			padding-bottom: 2px;
		}
	}

	&__display-btn{
		cursor: pointer;
		text-decoration: none;
		display: flex;
		align-items: center;

		.icon{
			@include mt();
			font-size: 16px;
			margin-right: 4px;
			color: transparent!important;
			stroke: $gray-570;
			stroke-width: 1.2px;
		}
		font-family: $mono;
		font-size: rem(12);
		line-height: (16/12);

		color: $gray-570;
		&:hover{
			color: $gray-800;
			.icon{
				stroke: $green;
			}
		}
		span{
			@include mt();
		}

		&.active{
			color: $black;
			.icon{
				stroke: $green;
			}
		}
	}
	&__items-found{
		display: flex;
		align-items: center;

	}
	&__if-num{
		@extend .green-num;
		margin-right: 4px;
	}
	&__if-txt{
		font-family: $mono;
		font-size: rem(12);
		line-height: (16/12);
		color: $gray-570;
	}
	//
	&__main-row{
		@include roww(32px);

	}
	&__m-l-col{
		@include media-breakpoint-up(xxl){
			width: 23%;
		}
	}
	&__items-row{
		@include roww(16px);
		--bs-gutter-y: 16px;
		padding-bottom: rem(35);
		@include media-breakpoint-up(xxl){
			--bs-gutter-y: 17px;
			padding-bottom: rem(53);
		}
	}
	&__{}
	&__{}
} // end.sCatalog

.filter{
	@include media-breakpoint-up(xxl){
		max-width: 270px;
	}

	&__title{
		font-weight: 500;
		font-size: rem(18);
		line-height: (21/18);
		color: $gray-980;
		margin-bottom: rem(16);
	}

	//categories
	&__categories{
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg){
			margin-bottom: rem(48);
		}
	}
	&__c-item{
		@include mt();
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-decoration: none;
		margin-bottom: rem(13);

		color: $gray-980;
		&.active,
		&:hover{
			color: $green4;
		}
	}
	&__c-txt{
		font-family: $mono;
		line-height: (19/14);
	}
	&__c-amount{
		@extend .green-num;
	}
	//
	&__chb-group{
		padding-bottom: 24px;
		@include media-breakpoint-up(lg){
			padding-bottom: 54px;
		}
		@include media-breakpoint-up(xxl){
			padding-top: 3px;
		}

		& > *{
			margin-bottom: rem(15);
		}
		& > *:last-child{
			margin-bottom: 0;
		}
	}

	//range-wrap
	&__range-wrap{
		padding-bottom: rem(17);
		margin-top: rem(-24px);
	}
	&__btn-row{
		@include roww(33px);
		--bs-gutter-y: 10px;
	}
	&__btn{
		width: 100%;
		padding: rem(12) rem(16);
		border-radius: 4px;
		font-weight: bold;
		font-size: rem(15);
		line-height: (24/15);

		&--green{
			@extend .btn-deep-green;
		}
		&--white{
			@extend .btn;
			@extend .btn-white;
			color: $gray-900!important;

			&.muted{
				color: $gray-570!important;
				&:hover{
					color: $gray-570!important;
				}
			}
		}
	}
	//
	&__{}
}