.top-nav {
	&__top{
		padding: rem(25) 0;
		border-bottom: 1px solid $light;
	}
	&__col{
		&--tell{
			@include media-breakpoint-up(xxl){
				padding-left: 53px;
				padding-right: 10px;
			}
		}
		&--shedule{
			@include media-breakpoint-up(xxl){
				padding-left: 0;
				position: relative;
				left: -10px;
			}
		}
		&--price{
			@include media-breakpoint-up(xxl){
				position: relative;
				left: -1px;
			}
		}
		&--store{
			@include media-breakpoint-up(xxl){
				position: relative;
				left: -9px;
			}
		}
	}

	//logo
	&__logo-row{
		@include roww(rem(33));
	}
	&__logo{
		display: block;
		width: 120px;

		img{
			width: auto;
			max-width: 100%;
		}
	}
	&__l-txt-col{
		border-left: 1px solid $gray-550;
	}
	&__logo-txt{
		font-size: 12px;
		line-height: (14/12);
		color: $gray-610;
		max-width: 190px;
	}
	&__tell{
		text-decoration: none;
		font-weight: 500;
		font-size: rem(18);
		line-height: (21/18);

		color: $black;
		&:hover{
			color: $primary;
		}

		margin-bottom: 5px;
	}
	&__callback{
		font-family: $mono;
		color: $green;
		font-size: 12px;
		line-height: (16/12);

		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}

	}
	&__iconed-row{
		@include roww(7px);
	}
	&__i-icon{
		width: 14px;
		height: 14px;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__bold-txt{
		font-weight: bold;
		line-height: (16/14);
		color: $gray-920;
		margin-bottom: rem(6);
	}
	&__shedule{
		font-family: $mono;
		line-height: (19/14);
		color: $gray-600;
	}
	&__price-link{
		font-family: $mono;
		font-size: 12px;
		line-height: (16/12);
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}

		color: $green;
	}
	&__store-add{
		font-size: 12px;
		line-height: (14/12);
		color: $gray-600;
	}

	//
	&__bot{
		padding: rem(7) 0;
		border-bottom: 1px solid $light;
	}
	&__catalog-cont{
		position: relative;
		z-index: 10;
	}
	&__catalog-btn{
		@extend .btn-gradient;

		display: flex;
		align-items: center;

		font-size: rem(15);
		line-height: (17/15);
	}
	&__c-burger{
		width: 14px;
		height: 14px;
		flex-shrink: 0;
		margin-right: 14px;
		position: relative;

		span,
		span:before,
		span:after{
			content: '';
			position: absolute;
			left: 0;
			border-radius: 4px;
			width: 14px;
			height: 2px;
			background: $white;
		}

		span{
			top: calc(50% - 0.5px);
		}
		span:before{
			top: -5px;
		}
		span:after{
			top: 5px;
		}
	}
	&__c-txt{

	}
	&__{}
	&__{}
}

.catalog-dd{
	width: rem(682);
	position: absolute;
	z-index: 10;
	top: calc(100% + 7px);
	left: 0;

	background-color: $white;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	overflow: hidden;

	display: none;
	&.active{
		display: block;
	}

	&__items{
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
	&__item{
		text-decoration: none;

		@include mt();
		width: 50%;
		padding: rem(16);

		display: flex;
		align-items: center;

		--link-txt-col: #{$black};
		background-color: $white;
		&:hover{
			--link-txt-col: #{$green2};
			background-color: $green3;
		}
	}
	&__img{
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		margin-right: 8px;
		background: $gray-110;
		border-radius: 4px;

		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__txt{
		font-family: $mono;
		font-size: rem(15px);
		line-height: 1;

		color: var(--link-txt-col, #{$black});
	}
	&__{}
	&__{}
}

.top-line{
	border-bottom: 1px solid $light;
	&__gray-menu{
		ul{
			display: flex;
			align-items: center;
			list-style: none;
			padding: 0;
			margin: 0;

			& > li{
				margin-right: rem(14);

				& > a{
					text-decoration: none;
					color: $secondary;
					&:hover{
						color: $primary;
					}

					font-size: 12px;
					line-height: (14/12);
				}
			}
		}
	}
	&__soc-row{
		@include roww(0);

		--bord-l-col: transparent;
		& > *:first-child{
			--bord-l-col: #{$light};
		}
	}
	&__soc-item{
		@include mt();

		background-color: transparent;
		&:hover{
			background-color: $light;
		}

		border-right: 1px solid $light;
		border-left: 1px solid var(--bord-l-col);

		display: flex;
		align-items: center;
		justify-content: center;

		width: rem(36);
		height: rem(34);

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	//
	&__{}
	&__{}
}


