// start .sHowWork
.sHowWork {
	--sPT: #{rem(24)};
	--sTPB: #{rem(24)};
	--sPB: #{rem(40)};

	position: relative;
	z-index: 1;
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: rem(106);
		background-color: $white;
	}

	.section-title{
		@include media-breakpoint-up(xxl){
			padding-left: 30px;
		}
		h2{
			line-height: (28/24);
			text-transform: uppercase;
		}
	}
	&__row{
		@include roww(15px);
		--bs-gutter-y: 15px;

		counter-reset: list 0;
		& > *{
			list-style-type: none;
		}
	}
	&__card{
		position: relative;
		z-index: 1;

		min-height: 100%;
		background: $blue2;
		border-radius: 4px;

		--card-px: #{rem(24)};
		padding: rem(16) var(--card-px, 28px) rem(24);
		@include media-breakpoint-up(xxl){
			--card-px: #{rem(28)};
			padding: rem(16) var(--card-px, 28px) rem(24);
		}

		&:before{
			counter-increment: list;
			content: counter(list);
			margin-bottom: rem(16px);

			width: rem(35);
			height: rem(35);
			background: $body-bg;
			border-radius: 4px;

			font-weight: 500;
			font-size: rem(24);
			line-height: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $blue4;
		}
	}
	&__txt{
		font-family: $mono;
		line-height: (19/14);
	}
	&__img{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: rem(10) var(--card-px, 28px);

		display: flex;
		justify-content: flex-end;
		align-items: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__{}
	&__{}
	&__{}
} // end.sHowWork