// start .sCards
.sCards {
	--sPT: #{rem(11)};
	--sPB: #{rem(12)};
	--sTPB: #{rem(24)};

	position: relative;
	z-index: 2;
	&__main-row{
		@include roww(rem(16));
		--bs-gutter-y: #{rem(14)};
	}
	&__txt-col{
		@include media-breakpoint-up(lg){
			display: flex;
		}
		@include media-breakpoint-up(xl){
			flex-direction: column;
		}
	}
	//
	&__card{
		@include media-breakpoint-up(lg){
			width: 66.66%;
		}
		@include media-breakpoint-up(xl){
			width: 100%;
		}

		padding: rem(20) rem(24);
		@include media-breakpoint-up(xxl){
			padding: rem(14) rem(47) rem(19) rem(28);
		}
		border-radius: 2px;
		flex-grow: 1;
	}
	&__c-row{

	}
	&__title{
		max-width: rem(265);
		padding-top: 24px;
		h2{
			font-weight: bold;
			font-size: rem(24);
			line-height: (28/24);
			text-transform: uppercase;
			color: $black;
			margin-bottom: rem(24);
		}
		p{
			font-family: $mono;
			font-size: rem(12);
			color: $gray-700;
			margin-bottom: rem(16);
		}
		a{
			@extend .underlined-link;
			font-size: rem(14.5);
			line-height: (17/15);
		}
	}
	&__c-img{
		width: rem(220);
		height: rem(220);
		position: relative;
		z-index: 1;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: calc(100% + 20px);
			max-height: calc(100% + 20px);
		}
	}
	&__c-ball{
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
	&__txt-card{
		@include media-breakpoint-up(lg){
			width: calc(33.33% - var(--bs-gutter-x)/2);
			border-radius: 2px;
		}
		@include media-breakpoint-up(xl){
			border-radius: 0;
			width: 100%;
		}

		padding: rem(24);
		p{
			font-family: $mono;
			margin-bottom: 22px;
		}
		& > *:last-child{
			margin-bottom: 0;
		}
	}
	&__{}
	&__{}
} // end.sCards