//- pugination
mixin pugin()
	+b.pagination
		+e.row.row.align-items-center
			+e.btn-col.col-auto
			+e.list-col.col
				ul
					mixin li(n)
						li
							if n
								a.page-numbers(href='#')= n
							else
								block
					+li(1)
					+li()
						+b.SPAN.page-numbers--dots ...
					+li(3)
					+li()
						span.page-numbers.current  4
					+li(5)
					+li()
						+b.SPAN.page-numbers--dots ...
					+li(7)
			+e.btn-col.col-auto
				+e.btn(href="#")
					span.d-none.d-md-inline Следующая
					+icon('chevron-right', 'd-md-none')